:root {
  --color-white: #fff;
  --color-yellow: #ffaa29;
  --color-yellow-warning: #FF9029;
  --color-green: #62c03d;
  --color-green-success: #3EA316;
  --color-green-16: #e6f5e0;
  --color-green-4: #f9fdf7;
  --color-light-gray: #f5f5f5;
  --color-medium-gray: #b9c0c0;
  --color-dark-gray: #878989;
  --color-black: #042a2b;
  --color-black-overlay: #090B09;
  --color-error: #FA3B3B;

  --font-system: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  --font-user: 'Raleway', var(--font-system);
}