{{> _scroll-top }}

<footer class="footer">
	<div class="container">
		<div class="footer__top">
			<div class="footer__info">
				<a class="footer__logo" href="/">
					<img src="assets/images/logo-white.svg" alt="Домик58">
				</a>
				<div class="footer__requisites p3">
					<p>ИП Барашкин Алексей Анатольевич</p>
					<p>ИНН 583409543461</p>
					<p>ОГРНИП 321583500034390</p>
				</div>
				<div class="footer__rating">
					<img src="assets/images/rating.webp" alt="Домик58">
				</div>
			</div>
			<ul class="footer__nav">
				<li class="footer__nav-item"><a class="p2" href="#">Коттеджи</a></li>
				<li class="footer__nav-item"><a class="p2" href="#">Квартиры</a></li>
				<li class="footer__nav-item"><a class="p2" href="#">Развлечения</a></li>
				<li class="footer__nav-item"><a class="p2" href="#">Праздники</a></li>
				<li class="footer__nav-item"><a class="p2" href="#">Акции</a></li>
				<li class="footer__nav-item"><a class="p2" href="#">О нас</a></li>
				<li class="footer__nav-item"><a class="p2" href="#">Блог</a></li>
				<li class="footer__nav-item"><a class="p2" href="#">Сотрудничество</a></li>
				<li class="footer__nav-item"><a class="p2" href="#">Работа у нас</a></li>
				<li class="footer__nav-item"><a class="p2" href="#">Контакты</a></li>
			</ul>
			<div class="footer__contacts">
				<a class="footer__phone s2" href="tel:+79273855588">+7 (927) 385-55-88</a>
				<a class="footer__email" href="mailto:domik58partner@gmail.com">domik58partner@gmail.com</a>
				<div class="footer__social">
					<a class="footer__social-link" href="#" target="_blank">
						<svg width="40" height="40" viewBox="0 0 40 40">
							<use xlink:href="#icon-vk"></use>
						</svg>
					</a>
					<a class="footer__social-link" href="#" target="_blank">
						<svg width="40" height="40" viewBox="0 0 40 40">
							<use xlink:href="#icon-odnoklassniki"></use>
						</svg>
					</a>
					<a class="footer__social-link" href="#" target="_blank">
						<svg width="40" height="40" viewBox="0 0 40 40">
							<use xlink:href="#icon-insta"></use>
						</svg>
					</a>
					<a class="footer__social-link" href="#" target="_blank">
						<svg width="40" height="40" viewBox="0 0 40 40">
							<use xlink:href="#icon-youtube"></use>
						</svg>
					</a>
					<a class="footer__social-link" href="#" target="_blank">
						<svg width="40" height="40" viewBox="0 0 40 40">
							<use xlink:href="#icon-telegram"></use>
						</svg>
					</a>
					<a class="footer__social-link" href="#" target="_blank">
						<svg width="40" height="40" viewBox="0 0 40 40">
							<use xlink:href="#icon-whatsapp"></use>
						</svg>
					</a>
					<a class="footer__social-link" href="#" target="_blank">
						<svg width="40" height="40" viewBox="0 0 40 40">
							<use xlink:href="#icon-hh"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__copyright p3">
				<p>© 2023 Домик 58. Все права защищены</p>
				<a href="#">Политика конфиденциальности</a>
				<a href="#">Договор оферты</a>
			</div>
			<a class="footer__match-logo" href="#" target="_blank">
				<span>Created by</span>
				<svg width="75" height="24" viewBox="0 0 75 24">
					<use xlink:href="#icon-match"></use>
				</svg>
			</a>
		</div>
	</div>
</footer>