<header class="header">
	<div class="container">
		<div class="burger">
			<div class="burger__inner">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<a class="header__logo" href="/">
			<img src="assets/images/logo-black.svg" alt="Домик58">
		</a>
		<nav class="nav">
			<a href="#" class="nav__btn-green">
				<span>Коттеджи</span>
				<svg width="20" height="20" viewBox="0 0 20 20">
					<use xlink:href="#icon-double-arrow"></use>
				</svg>
			</a>
			<a href="#" class="nav__btn-yellow">
				<span>Квартиры</span>
				<svg width="20" height="20" viewBox="0 0 20 20">
					<use xlink:href="#icon-double-arrow"></use>
				</svg>
			</a>
			<ul class="nav__list">
				<li class="nav__item"><a class="p2" href="#">Развлечения</a></li>
				<li class="nav__item"><a class="p2" href="#">Акции</a></li>
				<li class="nav__item"><a class="p2" href="#">Праздники</a></li>
				<li class="nav__item nav__submenu">
					<div class="nav__submenu-btn">
						<span class="p2">О нас</span>
						<svg width="16" height="16" viewBox="0 0 16 16">
							<use xlink:href="#icon-arrow-bottom"></use>
						</svg>
					</div>
					<ul class="nav__submenu-list">
						<li class="nav__submenu-item"><a class="p2" href="#">О нас</a></li>
						<li class="nav__submenu-item"><a class="p2" href="#">Сотрудничество</a></li>
						<li class="nav__submenu-item"><a class="p2" href="#">Работа у нас</a></li>
					</ul>
				</li>
				<li class="nav__item"><a class="p2" href="#">Контакты</a></li>
			</ul>
			<a class="nav__phone" href="tel:+79273855588">
				<div class="nav__phone-icon">
					<svg width="16" height="16" viewBox="0 0 16 16">
						<use xlink:href="#icon-phone"></use>
					</svg>
				</div>
				<span>+7 (927) 385-55-88</span>
			</a>
		</nav>
		<a class="header__mobile-call" href="tel:+79273855588">
			<svg width="20" height="20" viewBox="0 0 20 20">
				<use xlink:href="#icon-phone"></use>
			</svg>
		</a>
	</div>
</header>