@use '../mixins' as *;

.scroll-top {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: val(16, 40);
  z-index: 5;
  color: var(--color-green);
  transition: all 0.3s ease 0s;
  &.active {
    visibility: visible;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
}
